table {
    border-collapse: collapse;
    width: 100%;
}
caption {
    font-variant: small-caps;
}
table td,
table th {
    border: 1px solid black;
    padding: 5px 10px;
}

table thead {
    background-color: #ddd;
}
table tfoot {
    background-color: #eee;
}
