h1, h3, h5 {
    color: #1b9448;
}
h2, h4, h6 {
    color: #b3ef85;
}
p {
    margin: 0;
}

hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

main {
    width: 50%;
    float: left;
    border: 1px solid #28af64;
    padding: 10px;
}
aside {
    padding: 10px;
    float: left;
    clear: none;
    border: 1px solid #aaaaaa;
    width: 40%;
}

article {
    background-color: #eee;
    padding: 10px;
}
article > * {
    color: black;
}

.text-3 header,
.text-3 nav,
.text-3 section,
.text-3 footer {
    padding: 10px;
    text-align: center;
    border: 4px solid #ddd;
    margin-bottom: 10px;
}
.text-3 section {
    display: block;
    width: 48%;
    float: left;
}
.text-3 article {
    border: 3px solid #aaa;
}
.text-3 section:nth-of-type(2n) {
    float: right;
}
.text-3  footer {
    display: block;
    content: "";
    clear: both;

}

blockquote {
    background-color: #f2f2f2;
    color: #999;
    font-style: italic;
    padding: 10px 30px;
    border-radius: 20px;
}
figure blockquote+figcaption {
    margin-left: 50px;
}

abbr {
    color: #28af64;
    text-decoration: underline;
    text-decoration-color: red;
}
code {
    white-space: pre;
}
data {
    color: green;
}
data::after {
    color: red;
    margin-left: 10px;
    content: attr(value);
}
